<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resto Apps</title>
  </head>
  <body>
    <section class="skip">
      <a href="#content">Skip To Content</a>
    </section>
    <header>
      <app-bar></app-bar>
      <hero-section></hero-section>
    </header>
    <main id="content">
      <favourite-list></favourite-list>
      <restaurant-list></restaurant-list>
    </main>
    <footer>
      <about-section></about-section>
      <p class="footer__apps--name">RESTO APPS</p>
      <p class="footer__apps--copyright">Copyright © 2020 - RESTO Apps</p>
    </footer>
  </body>
</html>
